/* Reset */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --slide-aspect-ratio: 5/3;  /* Can be easily changed to other ratios like 16/9, 4/3, etc. */
}

/* General styles */
body {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #f5f5f5;
}

/* Header styles */
header {
    padding: 10px 2rem;
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    background-color: #333;
    top: 0;
    z-index: 100;
    left: 0;
    right: 0;


    .logo {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 1rem;
      color: #fff;
      img {
         max-width: 40px;
         height: auto;
      }
    }
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-left: -3rem;
}

/* Main content */
main {
    position: relative;
    background-color: #fff;
    max-width: 1440px;
    margin: 0 auto;
}

.content {
    max-width: 800px;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 8rem 4rem;
}

.content .flex {
   display: flex;
   justify-content: center;
   margin: 2rem -8rem;
}

.flex .map {
   flex: 1 1 0;
   background-color: #eee;
   padding: 6rem 1rem;
   display: flex;
}

.flex .text {
   flex: 1 1 0;
   padding: 6rem 1rem;
   background-color: #c2d0f1;
}

.content svg {
   width: 100%;
   height: auto;
}

/* Scroll container */
.scroll-container {
    position: relative;
    width: 100%;
    aspect-ratio: var(--slide-aspect-ratio);
    overflow: hidden;
}

/* Scroll item styles */
.scroll-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

/* Image container styles */
.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p {
    font-size: 1.2rem;
}

/* Caption styles */
p.caption {
    position: absolute;
    background-color: rgb(255 255 255);
    color: black;
    padding: 0.75rem 1rem;
    max-width: 40%;
    font-size: 0.9rem;
    opacity: 0;
    pointer-events: none;
    line-height: 1.7;
    letter-spacing: 0.015em;
}
p.caption span.caption-header {
    display: block;
    font-weight: 600;
}

@media (max-width: 768px) {
    .caption {
        max-width: 80%;
        font-size: 1rem;
    }
}

/* Caption positioning based on data attributes */
[data-caption-position="left"] .caption {
    top: 50%;
    left: 1.5rem;
}

[data-caption-position="right"] .caption {
    top: 50%;
    right: 1.5rem;
    text-align: right;
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    padding: 5rem 0;
    text-align: center;
}

footer p {
    margin: 0.5rem 0;
}